@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <span style="color: #8f8fe3; font-weight: 600" >Yakka!</span></h1>
    <p>The new way to professionally socialize.</p>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-success">Click Here to Login</a>
</div>
