@model ADSBackend.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>@Model.User.FullName's Dashboard</h2>
    </div>
    <div class="ibox-content">
        <p>Welcome to the Yakka app Dashboard. Here you can manage members, accounts, administrators, and more.</p>
        <a href="#" class="btn btn-success">
            <span class="fa fa-envelope"></span> Send a Message
        </a>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Getting Started</h5>
                </div>
                <div class="ibox-content">
                    <p>To get started, use the navigation bar on the left side of the page. Click on any one of the tabs to view more information.</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account</h5>
                </div>
                <div class="ibox-content">
                    <p>Need to change your password? Visit the Manage Account page!</p>
                    <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content">
                    <p>The website can be configured by using the Configuration panel below.</p>
                    <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>
            </div>
        </div>
    </div>

}
